/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  background-color: black;
  color: green;
  font-family: monospace;
  display: block;
}

.console-wrapper {
  height: auto;
  width: 100%;
  background-color: #1c1c1c;
  border-top: 4px solid green;
  border-bottom: 4px solid green;
  text-align: center;
  padding-bottom: 15px;
}

.title-wrapper {
  height: 50px;
  width: 100%;
  border-bottom: 2px solid green;
}

h1 {
  font-size: 35px;
  color: chocolate;
  text-transform: uppercase;
  font-family: "Tektur";
}

h2 {
  font-size: 30px;
  line-height: 5px;
  font-family: "Tektur";
}

p {
  font-size: 20px;
  margin: auto 20px;
  font-family: "Tektur";
}

a {
  color: green;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

input {
  font-family: "Tektur";
  font-size: 20px;
  font-weight: bold;
}

main {
  height: auto;
  width: 100%;
  background: black;
}

#game-wrapper {
  height: 100%;
  width: 100%;
  background-color: black;
  text-align: center;
}

#answer {
  height: 40px;
  width: 300px;
  font-size: 30px;
  margin: 50px 0 auto;
  background-color: #1c1c1c;
  color: green;
}

#answer-submit {
  height: 40px;
  width: 120px;
  background-color: #1c1c1c;
  color: green;
  margin-bottom: 40px;
}

#victory-clue {
  font-size: 80px;
  text-align: center;
  color: green;
  margin: auto 0;
  padding: 200px 0;
  display: none;
}

#clue-number {
  font-size: 30px;
  width: 40px;
  position: absolute;
  margin-top: 13px;
  margin-right: 25px;
  right: 0;
  background-color: black;
  border: 4px solid green;
  border-radius: 50%; 
  color: chocolate;
}

#return {
  font-size: 40px;
  position: absolute;
  left: 0;
  margin-top: 10px;
  margin-left: 25px;
}

/* Turn off autocomplete */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 800px) {
  #victory-clue {
    font-size: 60px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }
}