.c7-container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 50px 0;
  align-content: center;

}

.image-of-denmark {
  height: auto;
  width: 30%;
  padding-top: 50px;
  background-color: chocolate;
  background-image: url(../img/HalfofDenmark.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 300px;
  border: 2px solid chocolate;
}

.poem {
  height: 100%;
  width: 30%;
  max-width: 600px;
  min-width: 200px;
  border: 2px solid chocolate;
  font-size: 12px;
  line-height: 0.8;
  padding: 10px;
}

@media only screen and (max-width: 800px) {
  .poem p {
    font-size: 10px;
  }
}
