.maze-wrapper {
  position: relative;
  height: 400px;
  width: 80%;
  max-width: 600px;
  background-image: url(../img/floor4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-top: 30px;
  border: 8px solid rgb(33, 33, 33);
  box-shadow: 0px 0px 40px rgb(99, 2, 2);
}

.maze-floor {
  height: 100%;
  width: 100%;
}

#buttonN {
  display: block;
  position: absolute;
  top: 0;
  left: 47%;
  height: 50px;
  width: 40px;
  color: chocolate;
  background-color: #1c1c1c;
  border-left: 20% solid transparent;
	border-right: 20% solid transparent;
  border-bottom: 10px solid yellow;
  box-shadow: 0px 25px 15px yellow, 0px 0px 20px orange;
}

#buttonE {
  display: block;
  position: absolute;
  top: 47%;
  right: 0px;
  height: 40px;
  width: 50px;
  color: chocolate;
  background-color: #1c1c1c;
  border-top: 25% solid transparent;
	border-bottom: 25% solid transparent;
  border-left: 20px solid yellow;
  box-shadow: -25px 0px 15px yellow, 0px 0px 20px orange;
}

#buttonW {
  display: block;
  position: absolute;
  top: 47%;
  left: 0px;
  height: 40px;
  width: 50px;
  color: chocolate;
  background-color: #1c1c1c;
  border-top: 25% solid transparent;
	border-bottom: 25% solid transparent;
  border-right: 20px solid yellow;
  box-shadow: 25px 0px 15px yellow, 0px 0px 20px orange;
}

#buttonS {
  display: block;
  position: absolute;
  bottom: 0;
  left: 47%;
  width: 40px;
  height: 50px;
  color: chocolate;
  background-color: #1c1c1c;
  border-left: 20% solid transparent;
	border-right: 20% solid transparent;
  border-top: 10px solid yellow;
  box-shadow: 0px -25px 15px yellow, 0px 0px 20px orange;
}

#player {
  display: block;
  position: absolute;
  top: 47%;
  left: 44%;
  height: 45px;
  width: 45px;
  background-color: green;
  padding: 10px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
  border: 4px solid rgb(255, 255, 255);
  line-height: 2.3;
  box-shadow: 0px -5px 15px rgb(7, 217, 14), 0px 0px 20px orange;
}

#response-bot {
  margin-top: 90px;
  line-height: 1.5;
  background-image: linear-gradient(90deg, rgba(255, 0, 0,0.2), rgb(28, 28, 28), rgba(255, 0, 0,0.2))
}

#kick8 {
  height: auto;
  width: 15%;
  max-width: 70px;
  position: absolute;
  top: 25px;
  right: 30px;
  transform: rotate(15deg);
  border-radius: 15px 0 15px 0;
  border: 1px dotted rgb(193, 172, 172);
  box-shadow: -5px -5px 20px rgb(0, 0, 0);
  display: none;
}

#rec {
  position: absolute;
  left: 65px;
  bottom: 35px;
  width: 20%;
  height: auto;
  transform: rotate(5deg);
  border-radius: 35px 0 60px 0;
  border: 2px solid rgb(83, 83, 83);
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
  display: none;
}

#inf {
  position: absolute;
  left: 30px;
  top: 20px;
  width: 10%;
  height: auto;
  transform: rotate(-30deg);
  border-radius: 35px 0 60px 0;
  border: 2px solid rgb(83, 83, 83);
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
  display: none;
}

#answer {
  margin-top: 80px;
}

@media only screen and (max-width: 600px) {
  #player {
    left: 38%;
  }

  #buttonN {
    left: 43%;
  }

  #buttonS {
    left: 43%;
  }
}